<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">        
        <div class="row">
            <div class="col-sm-9">
                <h2>User Information</h2>
            </div>
            <div class="col-sm-3 text-right">
                <button type="submit" class="btn btn-primary" (click)="addNew()">Add New</button>        
            </div>
        </div>

        <form [formGroup]="userData" (ngSubmit)="postDate()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Departure airport code</label>
                        <input type="text" class="form-control" formControlName="DepartureAirportCode" maxlength="3"
                        (keypress)="keyPressAlphanumeric($event)"
                        >                        
                        <small class="text-danger" *ngIf="userData.get('DepartureAirportCode').hasError('maxLength')">Max length is 3 character</small>                                                
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Departure airport code</label>
                        <input type="text" class="form-control" formControlName="ArrivalAirportCode" maxlength="3"
                        (keypress)="keyPressAlphanumeric($event)"
                        >                         
                        <small class="text-danger" *ngIf="userData.get('DepartureAirportCode').hasError('maxLength')">Max length is 3 character</small>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Departure date</label>
                        <input type="datetime-local" class="form-control" formControlName="DepartureDate">         
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Return date</label>
                        <input type="datetime-local" class="form-control" formControlName="ReturnDate">         
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
               </div>
            </div>
        </form>
    </div>
</div>