
<ngx-spinner 
  bdColor = "rgba(0, 0, 0, 0.8)" 
  size = "medium" 
  color = "#fff" 
  type = "square-jelly-box" 
  [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>


<!-- <div class="loader-wrapper loader-wrapper--overlay" *ngIf="spinnerService.block || isShowingRouteLoadIndicator">
  <div class="loader">
    <div class="line-scale">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div> -->

<app-app-header></app-app-header>

<div class="container-fluid">
  <div class="row">  
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">   
      
      <div class="routeContainer" [@routeAnimation]="getDepth(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <!-- <router-outlet ></router-outlet> -->
      <!-- <app-airline></app-airline> -->      
    </main>
  </div>
</div>
<app-app-footer></app-app-footer>
