<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">       
            <li class="nav-item">
                <a class="nav-link" routerLink="/airline" >
                <span data-feather="file"></span>
                Airline
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" >
                <span data-feather="file"></span>
                Users
                </a>
            </li>              
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" >
                <span data-feather="file"></span>
                    Services
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" >
                <span data-feather="file"></span>
                    Products
                </a>
            </li>
                        
        </ul>            
    </div>
</nav>