<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
       <form [formGroup]="formData" (ngSubmit)="postDate()">
           <div class="row">
               <div class="col-sm-12">
                   <div class="form-group">
                       <label>Name</label>
                       <input type="text" class="form-control" formControlName="name"                            
                       >                        
                       <!-- <small class="text-danger" *ngIf="formData.get('name').hasError('maxLength')">{{ langService.langData.airlineLogo }}Max length is 3 character</small> -->
                   </div>
               </div>    
               <div class="col-sm-12">
                   <div class="form-group">
                       <label for="exampleInputEmail1">Category</label>
                       <input type="text" class="form-control" formControlName="cat"                            
                       >                         
                       <!-- <small class="text-danger" *ngIf="formData.get('DepartureAirportCode').hasError('maxLength')">Max length is 3 character {{ langService.langData.airlineLogo }}</small> -->
                   </div>
               </div>
               <div class="col-sm-12">
                   <div class="form-group">
                       <label for="exampleInputEmail1">Price</label>
                       <input type="text" class="form-control" formControlName="price">         
                   </div>
               </div>
               
               <div class="col-sm-12">
                   <button type="submit" class="btn btn-primary">Submit</button>
           </div>
           </div>
       </form>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h2>{{ langService.langData.airlineInformation }}</h2>
      </div>
      <div class="col-sm-4">
        <input type="text" #itemSearchInput class="form-control" placeholder="Search" />
      </div>
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>{{ langService.langData.airlineLogo }}</th>
          <th>{{ langService.langData.airlineName }}</th>
          <th>{{ langService.langData.outboundFlightDuration }}</th>
          <th>{{ langService.langData.inboundFlightDuration }}</th>
          <th>{{ langService.langData.totalAmountInUSD }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of airlineInfoList; let i = index; trackBy: trackByFn">            
          <td><img src="{{ item.AirlineLogoAddress }}" alt="Airline logo"></td>
          <td>{{ item.AirlineName }}</td>
          <td>{{ item.InboundFlightsDuration }}</td>
          <td>{{ item.OutboundFlightsDuration }}</td>
          <td>{{ item.TotalAmount | currency }}</td>          
        </tr>                    
      </tbody>
    </table>
  </div>
</div>