<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h2>{{ langService.langData.airlineInformation }}</h2>
      </div>
      <div class="col-sm-4">
        <input type="text" #itemSearchInput class="form-control" placeholder="Search" />
      </div>
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>{{ langService.langData.airlineLogo }}</th>
          <th>{{ langService.langData.airlineName }}</th>
          <th>{{ langService.langData.outboundFlightDuration }}</th>
          <th>{{ langService.langData.inboundFlightDuration }}</th>
          <th>{{ langService.langData.totalAmountInUSD }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of airlineInfoList; let i = index; trackBy: trackByFn">            
          <td><img src="{{ item.AirlineLogoAddress }}" alt="Airline logo"></td>
          <td>{{ item.AirlineName }}</td>
          <td>{{ item.InboundFlightsDuration }}</td>
          <td>{{ item.OutboundFlightsDuration }}</td>
          <td>{{ item.TotalAmount | currency }}</td>          
        </tr>                    
      </tbody>
    </table>
  </div>
</div>